/* html,
body {
	height: 100%;
	margin: 0;
} */

.sidebar {
	width: 10% !important;
	border-right: black 3px solid !important;
	height: calc(280vh);
}

.content {
	margin-left: 2rem;
	margin-top: 1rem;
}

.nav-link a:hover {
	text-decoration: none !important;
}

.ListItemComponent {
	border: 3px black solid;
	padding: 15px;
	height: auto;
	width: auto;
}
